/* General styles */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 102, 196, 1) 0%,
    rgba(255, 221, 90, 1) 95%
  );
}

/* Header styles */
.header {
  background-color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 2px;
  height: 30px;
  font-weight: 520;
}

.navbar {
  display: flex;
  width: 60%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

/* Hero banner styles */
.banner {
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.simp-content {
  position: absolute;
  top: 30%;
  left: 6%;
  width: 400px;
  padding: 25px;
  padding-right: 150px;
  background-color: rgba(248, 108, 108, 0.5);
  color: white;
}

.simp-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.simp-content p {
  font-size: 18px !important;
}

.call_icon {
  position: absolute;
  top: 12px;
  right: 70px;
}

.shopping_cart {
  position: absolute;
  top: 12px;
  right: 30px;
}

.iconn {
  width: 24px;
  height: 24px;
}

/* Card styles */
.card-section {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.8rem;
}

.card-section h2 {
  color: white;
  letter-spacing: 4px;
  font-family: sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  cursor: pointer;
}

.card {
  background-color: #fff;
  color: black;
  width: 25%;
  display: inline-block;
  margin: 10px;
  border-radius: 0 5rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  min-width: 290px;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 0 5rem 0 0;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.card-description {
  font-size: 0.95rem;
  color: #666;
  margin: 0.5rem;
}

/* Translucent button styles */
.translucent-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  border: none;
  border-radius: 10rem;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 160px;
  height: 50px;
  font-weight: 800;
}

.card-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.translucent-button:hover {
  background-color: rgba(255, 255, 255, 0.979);
}

